.tour {
  margin-bottom: 35px;
}

.tour_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tour_container {
  padding: 25px;
  background: white;
  border-radius: 5px;
}

.tour_name {
  letter-spacing: 1.2px;
  font-size: 0.9em;
}

.tour_price {
  letter-spacing: 0.8px;
  background: hsl(205deg, 100%, 96%);
  color: hsl(205deg, 78%, 60%);
  padding: 5px;
  border-radius: 5px;
}

.tour_image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.tour_showText {
  font-size: 1.1rem;
  color: hsl(205deg, 78%, 60%);
  padding-left: 5px;
}

.tour_text {
  font-size: 0.95em;
  padding-top: 20px;
  letter-spacing: 0.25px;
  color: hsl(210deg, 22%, 49%);
}

.tour_delete {
  display: block;
  margin: 20px auto 0;
  border-radius: 5px;
  font-size: 1.1em;
  padding: 0 50px 4px 50px;
  vertical-align: center;
  text-align: center;
  letter-spacing: 0.8px;
  border: 1px solid hsl(0deg, 67%, 44%);
  color: hsl(0deg, 67%, 44%);
}

@media screen and (max-width: 420px) {
  .tour_container {
    padding: 15px;
  }
  .tour_name {
    letter-spacing: 0;
  }
  .tour_price {
    font-size: 0.9em;
  }
  .tour_text {
    font-size: 0.8em;
  }
  .tour_showText {
    font-size: 1em;
    padding-left: 2.5px;
  }
  .tour_delete {
    font-size: 1em;
    padding-bottom: 0;
    padding-left: 25px;
    padding-right: 25px;
    margin: 15px auto;
  }
}
.title {
  margin: 100px auto 50px;
  font-size: 36px;
  letter-spacing: 0.8px;
}

.title_underline {
  margin: 0 auto;
  width: 40%;
  border: 2px solid hsl(205deg, 78%, 60%);
}

.tours {
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 620px) {
  .title {
    margin: 50px auto 35px;
  }
  .tours {
    width: 400px;
  }
}
@media screen and (max-width: 420px) {
  .title {
    margin: 25px auto 20px;
    font-size: 24px;
  }
  .title_underline {
    border: 1px solid hsl(205deg, 78%, 60%);
  }
  .tours {
    width: 350px;
  }
}
@media screen and (max-width: 368px) {
  .tours {
    width: 290px;
  }
}
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background: transparent none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: hsl(210deg, 36%, 96%);
}

.loading {
  display: block;
  margin: 100px auto 50px;
  font-size: 50px;
  letter-spacing: 0.8px;
}

/*# sourceMappingURL=style.css.map */
